# Lesson 1 - Numpy

## Import Numpy Library

## Create numpy array creation methods

### Unidimensional array

#### Create an unidimensional numpy array from list

In [3]:
list = [1, 2, 3]

#### Get size and length

### Multimensional array

#### Create an multidimensional numpy array from list

In [2]:
list = [[1, 2, 3], [4, 5, 6]]

#### Get size and length

 #### Create an array with 3 rows and 4 columns, where every element is 0

 #### Create an array with 3 rows and 4 columns, where every element is random

## Extract info from data file

#### Read ssv file

#### Print df

#### Get the number of rows and columns from df

## Extract data from numpy array

#### Select first row

#### Select the second element from the third row

#### Select the first three items from the fourth column

#### Select the entire fourth column

#### Select the value 1

In [1]:
numbers = [
            [
                [1, 2, 3],
                [4, 5, 6],
                [7, 8, 9],
                [10, 11, 12]
            ],
            [
                [13, 14, 15],
                [16, 17, 18],
                [19, 20, 21],
                [22, 23, 24]
            ]
          ]

#### Get the shape

#### Select an array which contains [1, 13]

#### Select an array which contains [[1, 2, 3][13, 14, 15]]

## Numpy data types

#### NumPy has several different data types, which mostly map to Python data types, like float, and str. You can find a full listing of NumPy data types here, but here are a few important ones:

1. float – numeric floating point data.
2. int – integer data.
3. string – character data.
4. object – Python objects.

####  Get wines data type

####  Convert wines data type to int

## NumPy array operations

#### Sum up 10 to the 11th column

#### Sum up the 11th column to itself

## NumPy array methods

#### Sum up the whole 11th column

####  Sum up the whole first row

####  Sum up all the columns

####  Sum up all the rows

####  Mean of first row

## NumPy array comparison

####  Return a bool array where the position value of the 11th column is True if the value was minor than 5 and False in other case

####  Return a bool array where the position value of the 11th column is True if the value was equal than 5 and False in other case

####  Select all the rows where the 11th column value is mayor than 6

##  NumPy array reshape

####  Get the traspose matrix of wines matrix

####  Get the flatten array of wines

####   Turn the 12th row of wines into a 2-dimensional array with 3 rows and 4 columns

##  NumPy array combination

####  Read white_wine ssv and combine it with wine data

####  Read white_wine ssv and concatenate it with wine data